In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df=pd.read_csv('healthcare-dataset-stroke-data.csv')

In [5]:
df.head(10)

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1
5  56669    Male  81.0  ...  29.0  formerly smoked      1
6  53882    Male  74.0  ...  27.4     never smoked      1
7  10434  Female  69.0  ...  22.8     never smoked      1
8  27419  Female  59.0  ...   NaN          Unknown      1
9  60491  Female  78.0  ...  24.2          Unknown      1

[10 rows x 12 columns]

In [6]:
df.shape

(5110, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [8]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [9]:
df['bmi'].value_counts()

28.7    41
28.4    38
26.7    37
27.6    37
26.1    37
        ..
48.7     1
49.2     1
51.0     1
49.4     1
14.9     1
Name: bmi, Length: 418, dtype: int64

In [10]:
df['bmi'].describe()

count    4909.000000
mean       28.893237
std         7.854067
min        10.300000
25%        23.500000
50%        28.100000
75%        33.100000
max        97.600000
Name: bmi, dtype: float64

In [12]:
df['bmi'].fillna(df['bmi'].mean(),inplace = True)

In [13]:
df['bmi'].describe()

count    5110.000000
mean       28.893237
std         7.698018
min        10.300000
25%        23.800000
50%        28.400000
75%        32.800000
max        97.600000
Name: bmi, dtype: float64

In [14]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [15]:
df.drop('id', axis=1,inplace=True)

In [16]:
df

      gender   age  hypertension  ...        bmi   smoking_status stroke
0       Male  67.0             0  ...  36.600000  formerly smoked      1
1     Female  61.0             0  ...  28.893237     never smoked      1
2       Male  80.0             0  ...  32.500000     never smoked      1
3     Female  49.0             0  ...  34.400000           smokes      1
4     Female  79.0             1  ...  24.000000     never smoked      1
...      ...   ...           ...  ...        ...              ...    ...
5105  Female  80.0             1  ...  28.893237     never smoked      0
5106  Female  81.0             0  ...  40.000000     never smoked      0
5107  Female  35.0             0  ...  30.600000     never smoked      0
5108    Male  51.0             0  ...  25.600000  formerly smoked      0
5109  Female  44.0             0  ...  26.200000          Unknown      0

[5110 rows x 11 columns]